<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500227056886-nfk8lt0b166k9ale8085vk4cnu8sd8ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500227056886-nfk8lt0b166k9ale8085vk4cnu8sd8ig</string>
	<key>API_KEY</key>
	<string>AIzaSyD4N8NlBZjib7RkE8Vs_efeLQc6__t4z3g</string>
	<key>GCM_SENDER_ID</key>
	<string>500227056886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kStudioApp</string>
	<key>PROJECT_ID</key>
	<string>kstudio-analytics</string>
	<key>STORAGE_BUCKET</key>
	<string>kstudio-analytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500227056886:ios:a44208b4eaa17f5bc4b8d7</string>
	<key>DATABASE_URL</key>
	<string>https://kstudio-analytics-default-rtdb.firebaseio.com</string>
</dict>
</plist>